.sidenav-content{
    height:1000px;
}
.menu{
    cursor: pointer;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
.button{
       padding: 9px 11px 9px 12px;
    border-radius: 3px;
    color: white;
    background-color: #303f9f;
    border-color: #303f9f;
    cursor:pointer;
}