<div mdl class="mdl-grid">
  <div class="mdl-layout-spacer"></div>
  <div class="mdl-cell mdl-cell--4-col">
    <div class="demo-card-wide mdl-card mdl-shadow--2dp">
      <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">STUDENT LOGIN</h2>
      </div>
      <div class="mdl-card__actions">
        <form [formGroup]="studentForm" #f="ngForm" (ngSubmit)="studentLogin(studentForm.value,studentForm.valid)">
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" [ngClass]="{'is-invalid' : (studentForm.controls.studentId.dirty && studentForm.controls.studentId.errors?.required) || (f.submitted && studentForm.controls.studentId.errors)}">
            <input class="mdl-textfield__input" type="text" id="number" pattern="-?[0-9]*(\.[0-9]+)?" formControlName="studentId" >
            <label class="mdl-textfield__label" for="number">student Id</label>
            <span class="mdl-textfield__error" *ngIf ="(studentForm.controls.studentId.touched && studentForm.controls.studentId.errors?.pattern) || (f.submitted && studentForm.controls.studentId.errors?.pattern)">ID should be number</span>
            <span class="mdl-textfield__error" *ngIf ="(studentForm.controls.studentId.touched && studentForm.controls.studentId.errors?.required) || (f.submitted && studentForm.controls.studentId.errors?.required)">ID should not be Empty!!!</span>
          </div>
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" [ngClass]="{'is-invalid' : (studentForm.controls.password.touched && studentForm.controls.password.errors) || (f.submitted && studentForm.controls.password.errors)}">
            <input class="mdl-textfield__input" type="password" id="password" formControlName="password">
            <label class="mdl-textfield__label" for="password">password</label>
            <span class="mdl-textfield__error">Password should not be Empty</span>
          </div>
          <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent">
            Button
          </button>
        </form>
      </div>
    </div>
  </div>
  <div class="mdl-layout-spacer"></div>
</div>

