<div mdl class="mdl-grid">
  <div class="mdl-layout-spacer"></div>
  <div class="mdl-cell mdl-cell--4-col">
    <div class="demo-card-wide mdl-card mdl-shadow--2dp">
      <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">ADMIN LOGIN</h2>
      </div>
      <div class="mdl-card__actions">
        <form [formGroup]="adminForm" #f="ngForm" (ngSubmit)="adminValue(adminForm.value,adminForm.valid)">
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" [ngClass]="{'is-invalid' : (adminForm.controls.adminName.touched && adminForm.controls.adminName.errors) || (f.submitted && adminForm.controls.adminName.errors)}">
            <input class="mdl-textfield__input" type="text" id="number"  formControlName="adminName" >
            <label class="mdl-textfield__label" for="number">Admin Name</label>
            <span class="mdl-textfield__error" *ngIf ="(adminForm.controls.adminName.touched && adminForm.controls.adminName.errors) || (f.submitted && adminForm.controls.adminName.errors)">Name should not be Empty!!!</span>
          </div>
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" [ngClass]="{'is-invalid' : (adminForm.controls.adminPassword.touched && adminForm.controls.adminPassword.errors) || (f.submitted && adminForm.controls.adminPassword.errors)}">
            <input class="mdl-textfield__input" type="password" id="password" formControlName="adminPassword">
            <label class="mdl-textfield__label" for="password">password</label>
            <span class="mdl-textfield__error">Password should not be Empty</span>
          </div>

          <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
            Login Me
          </button>
        </form>
      </div>
    </div>
  </div>
  <div class="mdl-layout-spacer"></div>
</div>


<div *ngIf="error" color="primary">
{{error | json}}
</div>