
<app-header (toggleSidenav)="sidenav.toggle()"></app-header>
<md-sidenav-container class="sidenav-content">
  <md-sidenav #sidenav class="docs-component-viewer-sidenav"  [mode]="isOver() ? 'over' : 'side'" [opened]="isOver()">
      <md-nav-list>
          <md-list-item routerLinkActive="active-link" >
              <md-icon class="icon-position">home</md-icon><span>Home</span>
          </md-list-item>   
      </md-nav-list>
  </md-sidenav>

  <div class="sidenav-content">
  <router-outlet></router-outlet>

  </div>

</md-sidenav-container>

